.Navbar-containerEL {
  position: relative;
  left: 225px;
  width: 67%;
  top: 0;
  height: 60px;
  z-index: 22;
}

.Navbar-containerEL .Navbar-content {
  display: flex;
  position: relative;
}

.Navbar-containerEL .Navbar-content .menu {
  z-index: 35423;
  margin-top: 20px;
  cursor: pointer;
}

.Navbar-containerEL .Navbar-content .menu img {
  width: 14px;
  background: #201f37;
  padding: 6px;
  border-radius: 8px;
}
.Navbar-containerEL .Navbar-content .logo {
  width: 20%;
  cursor: pointer;
}
.Navbar-containerEL .Navbar-content .logo img {
  width: 180px;
  padding: 6px;
  border-radius: 8px;
}

.Navbar-containerEL .Navbar-content .search-line {
  width: 26%;
  background: #191935;
  margin: 10px 15px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid rgba(173, 134, 5, 1);
}

.Navbar-containerEL .Navbar-content .search {
  width: 26%;
  background: #191935;

  margin: 10px 10px;
  height: 40px;
  border-radius: 30px;
}
.Navbar-containerEL .Navbar-content .search img {
  width: 13px;
  margin-top: 13px;
  margin-left: 10px;
}
.Navbar-containerEL .Navbar-content .search-line img {
  width: 10px;
  margin-top: 13px;
  margin-left: 10px;
}
.Navbar-containerEL .Navbar-content .search input {
  width: 100px;
  background: none;
  border: none;
  outline: none;
  margin: auto;
  margin-left: 10px;
  color: #52506b;
  font-weight: 900;
  font-size: 12px;
}
.Navbar-containerEL .Navbar-content .search-line input {
  width: 100px;
  background: none;
  border: none;
  outline: none;
  margin: auto;
  margin-left: 10px;
  color: #52506b;
  font-weight: 600;
  font-size: 12px;
}
.Navbar-containerEL .Navbar-content .search input::placeholder {
  color: #52506b;
  font-weight: 900;
}

.Navbar-containerEL .Navbar-content .login {
  width: 12%;
  text-align: end;
  margin-top: 16px;
}

.Navbar-containerEL .Navbar-content .login a {
  text-decoration: none;
  color: rgba(135, 135, 135, 1);
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 1px;
}
.Navbar-containerEL .Navbar-content .login a:hover {
  color: rgb(255, 255, 255);
}

.Navbar-containerEL .Navbar-content .signup {
  width: 10%;
  text-align: center;
  margin-top: 16px;
}

.Navbar-containerEL .Navbar-content .signup a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 11.5px;
  font-weight: 900;
  background-color: rgba(173, 134, 5, 1);
  letter-spacing: 1px;
  border-radius: 30px;
  padding: 6px 15px;
}

.Navbar-containerEL .Navbar-content .play {
  width: 10%;
  text-align: center;
  position: relative;
}

.Navbar-containerEL .Navbar-content .play img {
  width: 20px;
  text-align: center;
  margin-top: 20px;
}
.Navbar-containerEL .Navbar-content .play p {
  color: white;
  font-size: 11.5px;
  border-radius: 50%;
  padding: 3px;
  right: 9px;
  top: 5px;
  background-color: rgba(173, 134, 5, 1);
  position: absolute;
}


@media  only screen and ( min-width: 1100px ) and ( max-width : 1210px ) {
  .Navbar-containerEL .Navbar-content .play {
    width:7%;
    text-align: center;
    position: relative;
  }
  .Navbar-containerEL .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 0px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .Navbar-containerEL .Navbar-content .signup {
    width: 13%;
    text-align: center;
    margin-top: 16px;
  }
  
}


@media  only screen and ( min-width: 850px ) and ( max-width : 1110px ) {
  .Navbar-containerEL .Navbar-content .logo {
    width: 23%;
    cursor: pointer;
  }
  .Navbar-containerEL .Navbar-content .play {
    width:7%;
    text-align: center;
    position: relative;
  }
  .Navbar-containerEL .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 0px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .Navbar-containerEL .Navbar-content .signup {
    width: 13%;
    text-align: center;
    margin-top: 16px;
  }
  
.Navbar-containerEL .Navbar-content .search-line {
  width: 14%;
  background: #191935;
  margin: 10px 15px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid rgba(173, 134, 5, 1);
}

.Navbar-containerEL .Navbar-content .search {
  width: 14%;
  background: #191935;
  margin: 10px 10px;
  height: 40px;
  border-radius: 30px;
}
.Navbar-containerEL .Navbar-content .search-line input {
  width: 40px;
  background: none;
  border: none;
  outline: none;
  margin: auto;
  margin-left: 10px;
  color: #52506b;
  font-weight: 600;
  font-size: 12px;
}
.Navbar-containerEL .Navbar-content .search input {
  width: 40px;
  background: none;
  border: none;
  outline: none;
  margin: auto;
  margin-left: 10px;
  color: #52506b;
  font-weight: 600;
  font-size: 12px;
}
.Navbar-containerEL .Navbar-content .logo img {
  width: 160px;
  padding: 11px 0px;
  border-radius: 8px;
}

}


@media  only screen and ( min-width: 750px ) and ( max-width : 850px ) {
  .Navbar-containerEL .Navbar-content .logo {
    width: 23%;
    cursor: pointer;
  }
  .Navbar-containerEL .Navbar-content .play {
    width:7%;
    text-align: center;
    position: relative;
  }
  .Navbar-containerEL .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 0px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .Navbar-containerEL .Navbar-content .signup {
    width: 13%;
    text-align: center;
    margin-top: 16px;
  }
  
.Navbar-containerEL .Navbar-content .search-line {
  width: 14%;
  background: #191935;
  margin: 10px 15px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid rgba(173, 134, 5, 1);
}

.Navbar-containerEL .Navbar-content .search {
  width: 14%;
  background: #191935;
  margin: 10px 10px;
  height: 40px;
  border-radius: 30px;
}
.Navbar-containerEL .Navbar-content .search-line input {
  width: 40px;
  background: none;
  border: none;
  outline: none;
  margin: auto;
  margin-left: 10px;
  color: #52506b;
  font-weight: 600;
  font-size: 12px;
}
.Navbar-containerEL .Navbar-content .search input {
  width: 40px;
  background: none;
  border: none;
  outline: none;
  margin: auto;
  margin-left: 10px;
  color: #52506b;
  font-weight: 600;
  font-size: 12px;
}
.Navbar-containerEL .Navbar-content .logo img {
  width: 160px;
  padding: 11px 0px;
  border-radius: 8px;
}

}