/* Hide all momile from othher screens */
@media only screen and (min-width: 650px) {
  .mobile-Navbar {
    display: none;
  }
}

@media only screen and (min-width: 1210px) and (max-width: 1350px) {
  .newNavbar-container .Navbar-content .logo {
    width: 18%;
  }
  .newNavbar-container {
    position: absolute;
    left: 50px;
    width: 100%;
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1210px) {
  .Navbar-container .Navbar-content .logo {
    width: 20%;
  }
  .Navbar-container {
    position: absolute;
    left: 50px;
    width: 100%;
  }
  .Navbar-container {
    position: absolute;
    left: 50px;
    width: 100%;
  }
  .Navbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 30px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .Navbar-container .Navbar-content .login {
    width: 15%;
    text-align: end;
    margin-top: 16px;
  }
  .Navbar-container .Navbar-content .search {
    width: 35%;
    background: #030307;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1150px) {
  .Navbar-container .Navbar-content .logo {
    width: 20%;
  }
  .Navbar-container {
    position: absolute;
    left: 50px;
    width: 100%;
  }
  .Navbar-container .Navbar-content .login {
    width: 7%;
    text-align: end;
    margin-top: 16px;
  }

  .Navbar-container .Navbar-content .search input {
    width: 250px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .search-line input {
    width: 250px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 27px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .Navbar-container .Navbar-content .login {
    width: 15%;
    text-align: end;
    margin-top: 16px;
  }
  .Navbar-container .Navbar-content .search {
    width: 35%;
    background: #030307;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1050px) {
  .Navbar-container .Navbar-content .logo {
    width: 20%;
  }
  .Navbar-container {
    position: absolute;
    left: 50px;
    width: 100%;
  }
  .Navbar-container .Navbar-content .login {
    width: 7%;
    text-align: end;
    margin-top: 16px;
  }

  .Navbar-container .Navbar-content .search input {
    width: 250px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .search-line input {
    width: 250px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 22px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .Navbar-container .Navbar-content .login {
    width: 10%;
    text-align: end;
    margin-top: 16px;
  }
  .Navbar-container .Navbar-content .search {
    width: 40%;
    background: #030307;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
}

@media only screen and (min-width: 850px) and (max-width: 950px) {
  .Navbar-container .Navbar-content .logo {
    width: 20%;
  }
  .Navbar-container {
    position: absolute;
    left: 50px;
    width: 100%;
  }
  .Navbar-container .Navbar-content .login {
    width: 7%;
    text-align: end;
    margin-top: 16px;
  }

  .Navbar-container .Navbar-content .search input {
    width: 250px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .search-line input {
    width: 250px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 18px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .Navbar-container .Navbar-content .login {
    width: 10%;
    text-align: end;
    margin-top: 16px;
  }
  .Navbar-container .Navbar-content .search {
    width: 35%;
    background: #030307;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 850px) {
  .Navbar-container {
    position: absolute;
    left: 50px;
    width: 100%;
  }
  .Navbar-container .Navbar-content .logo {
    width: 20%;
  }
  .Navbar-container {
    position: absolute;
    left: 50px;
    width: 100%;
  }
  .Navbar-container .Navbar-content .login {
    width: 10%;
    text-align: end;
    margin-top: 16px;
  }

  .Navbar-container .Navbar-content .search input {
    width: 230px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .search-line input {
    width: 230px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .search {
    width: 35%;
    background: #030307;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
  .Navbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 15px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
}

@media only screen and (min-width: 650px) and (max-width: 750px) {
  .Navbar-container .Navbar-content .logo {
    width: 25%;
  }
  .Navbar-container {
    position: absolute;
    left: 50px;
    width: 100%;
  }
  .Navbar-container .Navbar-content .login {
    width: 8%;
    text-align: center;
    margin-top: 16px;
  }

  .Navbar-container .Navbar-content .search input {
    width: 150px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .search-line input {
    width: 150px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .search {
    width: 30%;
    background: #030307;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }

  .Navbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 14px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1150px) {
  .newNavbar-container {
    position: absolute;
    left: 225px;
    width: 100%;
  }
  .newNavbar-container .Navbar-content .logo {
    width: 17%;
  }
  .newNavbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 30px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .newNavbar-container .Navbar-content .search input {
    width: 200px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .newNavbar-container .Navbar-content .search-line input {
    width: 200px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .newNavbar-container .Navbar-content .login {
    width: 7%;
    text-align: end;
    margin-top: 16px;
  }
  .newNavbar-container .Navbar-content .search {
    width: 30%;
    background: #030307;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1050px) {
  .newNavbar-container {
    position: absolute;
    left: 225px;
    width: 100%;
  }
  .newNavbar-container .Navbar-content .logo {
    width: 16%;
  }
  .newNavbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 22px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .newNavbar-container .Navbar-content .search input {
    width: 200px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .newNavbar-container .Navbar-content .search-line input {
    width: 200px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .newNavbar-container .Navbar-content .login {
    width: 7%;
    text-align: end;
    margin-top: 16px;
  }
  .newNavbar-container .Navbar-content .search {
    width: 28%;
    background: #030307;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
}

@media only screen and (min-width: 850px) and (max-width: 950px) {
  .newNavbar-container {
    position: absolute;
    left: 225px;
    width: 100%;
  }
  .newNavbar-container .Navbar-content .logo {
    width: 19%;
  }
  .newNavbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 22px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .newNavbar-container .Navbar-content .search input {
    width: 150px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .newNavbar-container .Navbar-content .search-line input {
    width: 150px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .newNavbar-container .Navbar-content .login {
    width: 8%;
    text-align: end;
    margin-top: 16px;
  }
  .newNavbar-container .Navbar-content .search {
    width: 23%;
    background: #030307;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 850px) {
  .newNavbar-container {
    position: absolute;
    left: 225px;
    width: 100%;
  }
  .newNavbar-container .Navbar-content .logo {
    width: 20%;
  }
  .newNavbar-container .Navbar-content .login {
    width: 18%;
    text-align: center;
    margin-top: 16px;
  }

  .newNavbar-container .Navbar-content .search input {
    width: 230px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
    display: none;
  }
  .newNavbar-container .Navbar-content .search-line input {
    width: 230px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
    display: none;
  }

  .newNavbar-container .Navbar-content .search {
    width: 4%;
    background: #030307;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }

  .newNavbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 14px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
}

@media only screen and (min-width: 650px) and (max-width: 750px) {
  .newNavbar-container {
    position: absolute;
    left: 225px;
    width: 100%;
  }
  .newNavbar-container .Navbar-content .logo {
    width: 25%;
  }

  .newNavbar-container .Navbar-content .login {
    width: 8%;
    text-align: center;
    margin-top: 16px;
  }

  .newNavbar-container .Navbar-content .search input {
    width: 230px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
    display: none;
  }
  .newNavbar-container .Navbar-content .search-line input {
    width: 230px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
    display: none;
  }
  .newNavbar-container .Navbar-content .search {
    width: 4%;
    background: #030307;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }

  .newNavbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 14px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
}
@media only screen and (max-width: 650px) {
  .mobile-display-navbar {
    display: block;
  }
  .Navbar {
    display: none;
  }
  .bet-arena-display {
    margin-left: 0px;
    margin-top: 0px;
  }
  .mobile-head-container {
    width: 100%;
    height: 60px;
    background: rgba(2, 2, 9, 0.42);
    box-shadow: 0px 11.1333px 37.1111px rgba(53, 51, 65, 0.46);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-extreme-nav {
    display: flex;
    align-items: center;
    padding-top: 1px;
    font-family: "Poppins";
    column-gap: 10px;
    margin-right: 10px;
  }
  .mobile-first-nav {
    display: flex;
    padding-top: 15px;
    font-family: "Poppins";
    column-gap: 10px;
    margin-left: 8px;
  }
  .mobile-login h3 {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border: none;
  }
  .mobile-signup button {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 12px;
    border-radius: 30px;
    padding: 7px 17px;
    background: #ad8605;
    cursor: pointer;
    border: none;
  }
  .mobile-first-menu {
    margin-top: 3px;
  }
  .mobile-first-menu img {
    background: rgba(2, 2, 9, 0.42);
    padding: 8px 6px 8px 6px;
    border-radius: 50%;
    border: 1px solid rgb(105, 102, 102);
  }

  .mobile-item-display {
    background: rgba(50, 50, 79, 0.17);
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-item-display-flex {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-left: 8px;
  }

  .mobile-item-display-rotate {
    background: #030307;
    width: fit-content;
    border-radius: 10px;
    height: 40px;
  }
  .mobile-item-display-rotate .mobile-rotate {
    width: 40px;
  }
  .mobile-item-display-rotate,
  .mobile-item-display-key,
  .mobile-item-display-third-key {
    position: relative;
  }

  .mobile-item-display-pointer {
    position: absolute;
    left: 0;
    width: 40px;
  }
  .mobile-item-display-playing img {
    width: 20px;
  }

  .mobile-item-display-lock,
  .mobile-item-display-third-lock {
    position: absolute;
    left: 14px;
  }
  .mobile-rotate {
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

  .mobile-item-display-key img {
    width: 40px;
    margin-top: 6px;
    border-radius: 10px;
  }
  .mobile-item-display-third-key img {
    width: 40px;
    margin-top: 6px;
    border-radius: 10px;
  }

  .mobile-item-display-task,
  .mobile-item-display-fourth {
    background: #030307;
    width: fit-content;
    border-radius: 10px;
    height: 40px;
  }
  .mobile-item-display-task img {
    width: 40px;
  }
  .mobile-item-display-fourth img {
    width: 40px;
    margin-top: 5px;
  }
  .mobile-item-display-bitcoin {
    background: #030307;
    width: fit-content;
    border-radius: 10px;
    height: 40px;
    position: relative;
  }
  .mobile-item-display-bitcoin img {
    width: 40px;
    margin-top: 5px;
  }
  .mobile-item-display-bitcoin .mobile-item-display-bitcoin-logo-cover {
    width: 40px;
    position: absolute;
    left: 0;
    top: -6px;
  }

  .mobile-item-display-play {
    margin-right: 20px;
    position: relative;
    margin-top: 15px;
  }
  .mobile-item-display-play-num {
    position: absolute;
    top: -12px;
    right: -10px;
    background: #ad8605;
    padding: 2px;
    border-radius: 9px;
  }
  .mobile-item-display-play-num p {
    color: #ffffff;
    font-weight: 500;
    font-size: 10px;
    cursor: pointer;
  }
}


@media only screen and (min-width: 1150px) and (max-width: 1210px) {
  .newNavbar-container {
    position: absolute;
    left: 225px;
    width: 100%;
  }
  .newNavbar-container .Navbar-content .logo {
    width: 17%;
  }
  .newNavbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 30px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .newNavbar-container .Navbar-content .login {
    width: 10%;
    text-align: end;
    margin-top: 16px;
  }
  .newNavbar-container .Navbar-content .search {
    width: 30%;
    background: #030307;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
}
@media only screen and (min-width: 1210px) and (max-width: 1350px) {
  .Navbar-container .Navbar-content .logo {
    width: 18%;
  }
}

/* Mobile View */
@media only screen and (max-width: 650px) {
  .Navbar {
    display: none;
  }
}
@media only screen and (min-width: 650px) {
  .mobile-display-navbar {
    display: none;
  }
}