.Navbar {
  z-index: 20;
  left: 0px;
  top: 0px;
  right: 0px;
  box-shadow: 0px 11.1333px 37.1111px rgba(53, 51, 65, 0.527);
  width: 100%;
  height: 60px;
  background: rgb(8, 8, 26);
  position: fixed;
}
.Navbar-container {
  position: relative;
  left: 240px;
  width: 86%;
  height: 60px;
  z-index: 22;
}
.Navbar-container .Navbar-content {
  display: flex;
  position: relative;
  z-index: 10;
  width: 100%;
  z-index: 2000;
}
.Navbar-container .Navbar-content .menu {
  top: 19px;
  left: -15px;
  cursor: pointer;
  position: absolute;
  z-index: 165960;
}
.Navbar-container .Navbar-content .menu img {
  width: 14px;
  background: #201f37;
  padding: 6px;
  z-index: 165960;
  border-radius: 8px;
}
.Navbar-container .Navbar-content .logo {
  width: 20%;
  cursor: pointer;
}
.Navbar-container .Navbar-content .logo img {
  width: 180px;
  padding: 6px;
  border-radius: 8px;
}

.Navbar-container .Navbar-content .search-line {
  width: 40%;
  background: #191935;
  margin: 10px 15px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid rgba(173, 134, 5, 1);
}

.Navbar-container .Navbar-content .search {
  width: 40%;
  background: #191935;
  margin: 10px 15px;
  height: 40px;
  border-radius: 30px;
}
.Navbar-container .Navbar-content .search img {
  width: 13px;
  margin-top: 13px;
  margin-left: 10px;
}
.Navbar-container .Navbar-content .search-line img {
  width: 10px;
  margin-top: 13px;
  margin-left: 10px;
}
.Navbar-container .Navbar-content .search input {
  width: 300px;
  background: none;
  border: none;
  outline: none;
  margin: auto;
  margin-left: 10px;
  color: #52506b;
  font-weight: 900;
}
.Navbar-container .Navbar-content .search-line input {
  width: 300px;
  background: none;
  border: none;
  outline: none;
  margin: auto;
  margin-left: 10px;
  color: #52506b;
  font-weight: 600;
}
.Navbar-container .Navbar-content .search input::placeholder {
  color: #52506b;
  font-weight: 900;
}

.Navbar-container .Navbar-content .login {
  width: 13%;
  text-align: end;
  margin-top: 16px;
  margin-left: 20px;
}

.Navbar-container .Navbar-content .login a {
  text-decoration: none;
  color: rgba(135, 135, 135, 1);
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 1px;
}
.Navbar-container .Navbar-content .login a:hover {
  color: rgb(255, 255, 255);
}

.Navbar-container .Navbar-content .signup {
  width: 10%;
  text-align: center;
  margin-top: 16px;
  margin-left: 20px;
}

.Navbar-container .Navbar-content .signup a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 11.5px;
  font-weight: 900;
  background-color: rgba(173, 134, 5, 1);
  letter-spacing: 1px;
  border-radius: 30px;
  padding: 6px 15px;
}

.Navbar-container .Navbar-content .play {
  width: 7%;
  cursor: pointer;
  margin: 0px 10px;
  text-align: center;
  position: relative;
}

.Navbar-container .Navbar-content .play img {
  width: 20px;
  text-align: center;
  margin-top: 20px;
}
.Navbar-container .Navbar-content .play p {
  color: white;
  font-size: 11.5px;
  border-radius: 50%;
  padding: 3px;
  right: 3px;
  top: 5px;
  background-color: rgba(173, 134, 5, 1);
  position: absolute;
}


@media  only screen and ( min-width: 1200px ) and ( max-width : 1360px ) {
  .Navbar-container .Navbar-content .search-line {
    width: 35%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgba(173, 134, 5, 1);
  }
  
  .Navbar-container .Navbar-content .search {
    width: 35%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
}

@media  only screen and ( min-width: 1200px ) and ( max-width : 1360px ) {
  .Navbar-container .Navbar-content .search-line {
    width: 35%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgba(173, 134, 5, 1);
  }
  
  .Navbar-container .Navbar-content .search {
    width: 35%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
  .Navbar-container .Navbar-content .login {
    width: 14%;
    text-align: end;
    margin-top: 16px;
    margin-left: 20px;
  }
}

@media  only screen and ( min-width: 1050px ) and ( max-width : 1200px ) {
  .Navbar-container .Navbar-content .search-line {
    width: 33%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgba(173, 134, 5, 1);
  }
  
  .Navbar-container .Navbar-content .search {
    width: 33%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
  .Navbar-container .Navbar-content .login {
    width: 11%;
    text-align: end;
    margin-top: 16px;
    margin-left: 20px;
  }
  .Navbar-container .Navbar-content .search input {
    width:230px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
}

@media  only screen and ( min-width: 850px ) and ( max-width : 1050px ) {
  .Navbar-container .Navbar-content .login {
    width: 7%;
    text-align: end;
    margin-top: 16px;
    margin-left: 20px;
  }
  
  .Navbar-container .Navbar-content .search-line {
    width: 30%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgba(173, 134, 5, 1);
  }
  
  .Navbar-container .Navbar-content .search {
    width: 30%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
  .Navbar-container .Navbar-content .login {
    width: 7%;
    text-align: end;
    margin-top: 16px;
    margin-left: 20px;
  }
  .Navbar-container .Navbar-content .search input {
    width:160px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
}

@media  only screen and ( min-width: 750px ) and ( max-width : 850px ) {
  .Navbar-container .Navbar-content .login {
    width: 7%;
    text-align: end;
    margin-top: 16px;
    margin-left: 20px;
  }
  .Navbar-container .Navbar-content .logo {
    width: 20%;
    cursor: pointer;
  }
  .Navbar-container .Navbar-content .logo img {
    width: 160px;
    padding: 6px;
    border-radius: 8px;
  }
  
  .Navbar-container .Navbar-content .search-line {
    width: 20%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgba(173, 134, 5, 1);
  }
  
  .Navbar-container .Navbar-content .search {
    width: 20%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
  .Navbar-container .Navbar-content .login {
    width: 7%;
    text-align: end;
    margin-top: 16px;
    margin-left: 20px;
  }
  .Navbar-container .Navbar-content .search input {
    width:85px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 0px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
}


@media  only screen and ( min-width: 650px ) and ( max-width : 750px ) {
  .Navbar-container .Navbar-content .login {
    width: 7%;
    text-align: end;
    margin-top: 16px;
    margin-left: 20px;
  }
  .Navbar-container .Navbar-content .logo {
    width: 26%;
    cursor: pointer;
  }
  .Navbar-container .Navbar-content .logo img {
    width: 160px;
    padding: 6px;
    border-radius: 8px;
  }
  
  .Navbar-container .Navbar-content .search-line {
    width: 10%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgba(173, 134, 5, 1);
  }
  
  .Navbar-container .Navbar-content .search {
    width: 10%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
  .Navbar-container .Navbar-content .login {
    width: 8%;
    text-align: end;
    margin-top: 16px;
    margin-left: 20px;
  }
  .Navbar-container .Navbar-content .search input {
    width:15px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .search-line input {
    width:15px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .Navbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: -5px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .Navbar-container .Navbar-content .signup a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 10.5px;
    font-weight: 900;
    background-color: rgba(173, 134, 5, 1);
    letter-spacing: 1px;
    border-radius: 30px;
    padding: 5px 10px;
  }
  
}