.openNavbar-container {
  position: relative;
  left: 52px;
  width: 96%;
  z-index: 22;
}
.openNavbar-container .Navbar-content {
  display: flex;
  position: relative;
}
.openNavbar-container .Navbar-content .menu {
  z-index: 282;
  margin-top: 20px;
  cursor: pointer;
}
.openNavbar-container .Navbar-content .menu img {
  width: 14px;
  background: #201f37;
  padding: 6px;
  border-radius: 8px;
}
.openNavbar-container .Navbar-content .logo {
  width: 20%;
  cursor: pointer;
}
.openNavbar-container .Navbar-content .logo img {
  width: 180px;
  padding: 6px;
  border-radius: 8px;
}

.openNavbar-container .Navbar-content .search-line {
  width: 50%;
  background: #191935;
  margin: 10px 15px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid rgba(173, 134, 5, 1);
}

.openNavbar-container .Navbar-content .search {
  width: 50%;
  background: #191935;
  margin: 10px 15px;
  height: 40px;
  border-radius: 30px;
}
.openNavbar-container .Navbar-content .search img {
  width: 13px;
  margin-top: 13px;
  margin-left: 10px;
}
.openNavbar-container .Navbar-content .search-line img {
  width: 10px;
  margin-top: 13px;
  margin-left: 10px;
}
.openNavbar-container .Navbar-content .search input {
  width: 300px;
  background: none;
  border: none;
  outline: none;
  margin: auto;
  margin-left: 10px;
  color: #52506b;
  font-weight: 900;
}
.openNavbar-container .Navbar-content .search-line input {
  width: 300px;
  background: none;
  border: none;
  outline: none;
  margin: auto;
  margin-left: 10px;
  color: #52506b;
  font-weight: 600;
}
.openNavbar-container .Navbar-content .search input::placeholder {
  color: #52506b;
  font-weight: 900;
}

.openNavbar-container .Navbar-content .login {
  width: 9%;
  text-align: end;
  margin-top: 16px;
}

.openNavbar-container .Navbar-content .login a {
  text-decoration: none;
  color: rgba(135, 135, 135, 1);
  font-size: 13px;
  font-weight: 900;
  letter-spacing: 1px;
}
.openNavbar-container .Navbar-content .login a:hover {
  color: rgb(255, 255, 255);
}

.openNavbar-container .Navbar-content .signup {
  width: 10%;
  text-align: center;
  margin-top: 16px;
}

.openNavbar-container .Navbar-content .signup a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 11.5px;
  font-weight: 900;
  background-color: rgba(173, 134, 5, 1);
  letter-spacing: 1px;
  border-radius: 30px;
  padding: 6px 15px;
}

.openNavbar-container .Navbar-content .play {
  width: 5%;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.openNavbar-container .Navbar-content .play img {
  width: 20px;
  text-align: center;
  margin-top: 20px;
}
.openNavbar-container .Navbar-content .play p {
  color: white;
  font-size: 11.5px;
  border-radius: 50%;
  padding: 3px;
  right: 3px;
  top: 5px;
  background-color: rgba(173, 134, 5, 1);
  position: absolute;
}

@media  only screen and ( min-width: 840px ) and ( max-width : 1060px ) {
  .openNavbar-container .Navbar-content .search-line {
    width: 45%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgba(173, 134, 5, 1);
  }
  
  .openNavbar-container .Navbar-content .search {
    width: 45%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
  .openNavbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: -6px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .openNavbar-container .Navbar-content .login {
    width: 12%;
    text-align: end;
    margin-top: 16px;
  }
}



@media  only screen and ( min-width: 740px ) and ( max-width : 840px ) {
  .openNavbar-container .Navbar-content .logo {
    width: 24%;
    cursor: pointer;
  }
  .openNavbar-container .Navbar-content .search-line {
    width: 33%;
    background: #191935;
    margin: 10px 15px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid rgba(173, 134, 5, 1);
  }
  
  .openNavbar-container .Navbar-content .search {
    width: 33%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
  .openNavbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: -6px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }
  .openNavbar-container .Navbar-content .search input {
    width: 200px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .openNavbar-container .Navbar-content .search-line input {
    width: 200px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 600;
  }
  .openNavbar-container .Navbar-content .login {
    width: 12%;
    text-align: end;
    margin-top: 16px;
  }
}


@media  only screen and ( min-width: 650px ) and ( max-width : 840px ) {
  .openNavbar-container .Navbar-content .logo {
    width: 24%;
    cursor: pointer;
  }

  
  .openNavbar-container .Navbar-content .search-line {
    width: 28%;
    background: #191935;
    margin: 10px 15px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid rgba(173, 134, 5, 1);
  }
  
  .openNavbar-container .Navbar-content .search {
    width: 28%;
    background: #191935;
    margin: 10px 15px;
    height: 40px;
    border-radius: 30px;
  }
  .openNavbar-container .Navbar-content .play p {
    color: white;
    font-size: 11.5px;
    border-radius: 50%;
    padding: 3px;
    right: 0px;
    top: 5px;
    background-color: rgba(173, 134, 5, 1);
    position: absolute;
  }

  .openNavbar-container .Navbar-content .play {
    width: 9%;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  
  .openNavbar-container .Navbar-content .search input {
    width: 100px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }
  .openNavbar-container .Navbar-content .search-line input {
    width: 100px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 600;
  }
  .openNavbar-container .Navbar-content .login {
    width: 12%;
    text-align: end;
    margin-top: 16px;
  }
}