@media screen and (min-width: 1100px) {
  .home-wallet {
    width: 16%;
    margin: 0;
    position: relative;
  }

  .home-wallet-container {
    display: flex;
    color: #878787;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 20px;
    margin-top: 7px;
    border-radius: 20px;
    background: #0303038a;
  }
  .home-wallet-content {
    display: block;
  }
  .home-wallet-details {
    display: flex;
    gap: 6px;
    font-size: 14px;
    cursor: pointer;
  }
  .home-wallet-details .arrow {
    margin-left: 5px;
  }
  .home-wallet-content img {
    width: 19px;
    height: 19px;
    margin-top: 5px;
  }

  .Home-wallet-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    background: #ad8605;
    border-radius: 20px;
    padding: 10px 15px;
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
  }

  .Home-Items2 {
    margin: 0;
    width: 10%;
    padding: 0;
  }
  .Home-Items2-1 {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px 20px;
    background: #030303dc;
    border-radius: 20px;
    cursor: pointer;
  }

  .Home-Items2-1 img {
    border-radius: 50%;
    width: 40px;
  }

  .Home-Items3 {
    margin: 0px 5px 10px 15px;
    display: flex;
    gap: 30px;
  }
  .Home-Items-inner-first1-coin {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .Home-Items2-1 h3 {
    color: #878787;
  }

  .Home-Items-inner-first2 h3 {
    color: #fff;
    font-size: 12px;
  }
  .Home-Items-inner-first1-coin h3 {
    color: #878787;
    font-size: 12px;
  }
  .Home-Items-inner-first1-coin h4,
  .Home-Items-inner-first1 h4 {
    color: #878787;
    font-size: 12px;
  }
  .Navbar-container .Navbar-content #search {
    width: 30%;
    background: #090915;
    margin: 10px 0px;
    height: 40px;
    border-radius: 30px;
  }
  .Navbar-container .Navbar-content #search input {
    width: 260px;
    background: none;
    border: none;
    outline: none;
    margin: auto;
    margin-left: 10px;
    color: #52506b;
    font-weight: 900;
  }

  .pro-pop {
    height: 22.75rem;
    width: 23.25rem;
    position: absolute;
    right: 200px;
    z-index: 99;
    top: 60px;
  }
  .pro-pop-inner {
    display: flex;
    flex-direction: column;
    background: #1e2024;
    height: 100%;
    border-radius: 1.25rem;
    box-shadow: rgba(56, 56, 56, 0.24) 0px 5px 8px 0px;
    padding: 20px;
  }
  .pro-pop-inner-top-flex-left-img img {
    border-radius: 30px;
    width: 45px;
  }
  .pro-pop-inner-top-flex {
    display: flex;
    justify-content: space-between;
  }
  .pro-pop-inner-top-flex-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .pro-pop-inner-top-flex-left1-inner-medal {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  .pro-pop-inner-top-flex-left1-inner {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .pro-pop-inner-top-flex-right {
    display: flex;
    gap: 5px;
  }
  .pro-pop-inner-top-flex-right img {
    width: 15px;
    height: 17px;
  }

  .pro-pop-inner-top-flex-left1-inner-medal img {
    width: 13px;
  }
  .pro-pop-inner-top-flex-left1-inner-rank {
    background: #626262;
    color: #000;
    padding: 1px 7px;
    border-radius: 30px;
    font-size: 12px;
  }
  .pro-pop-inner-top-flex-left1 h3 {
    font-size: 12px;
    color: #fff;
  }
  .pro-pop-inner-top2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .pro-pop-inner-top2 h3 {
    font-size: 12px;
    color: #fff;
  }

  .pro-pop-inner-top2-right {
    display: flex;
    gap: 10px;
  }

  .progress-vip {
    width: 90%;
    height: 7px;
    border-radius: 5px;
    background: #444a54;
    position: relative;
    margin: 0px 5px;
  }
  .progress-vip-cover {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
  }
  .pro-pop-inner-body {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 10px;
    height: 460px;
    overflow: hidden;
    overflow-y: auto;
  }
  .pro-pop-inner-body::-webkit-scrollbar {
    display: none;
  }

  .progress-motion-vip {
    position: absolute;
    left: 0px;
    height: 100%;
    border-radius: 5px;
    top: 0px;
    width: 5%;
    max-width: 100%;
    background: #fff;
  }
  .pro-pop-inner-body-inner img {
    width: 13px;
  }
  .pro-pop-inner-body-inner {
    display: flex;
    gap: 50px;
    padding: 10px;
  }
  .pro-pop-inner-body-inner-left,
  .pro-pop-inner-body-inner-right {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 12px;
    margin-top: 6px;
    border-radius: 8px;
  }
  .pro-pop-inner-body-inner-left:hover,
  .pro-pop-inner-body-inner-right:hover {
    background: rgba(0, 0, 0, 0.533);
  }
  .pro-pop-inner-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
  }
  .pro-pop-inner-footer img {
    width: 13px;
  }
  .pro-pop-inner-footer h3,
  .pro-pop-inner-body-inner h3,
  .progress-vip-cover h3,
  .pro-pop-inner-top2 h4,
  .pro-pop-inner-top-flex-right h3 {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
  }

  .coin-pop {
    height: 30.75rem;
    width: 23.25rem;
    position: absolute;
    right: 200px;
    z-index: 99;
    top: 60px;
  }
  .coin-pop-inner {
    display: flex;
    flex-direction: column;
    background-color: rgba(14, 19, 35, 0.944);
    height: 100%;
    border-radius: 1.25rem;
    box-shadow: rgba(56, 56, 56, 0.24) 0px 5px 8px 0px;
  }
  .coin-pop-inner-top {
    padding: 1.15rem 1.1rem;
    margin-top: 0px;
  }
  .coin-pop-inner-top-flex {
    height: 2.75rem;
    border-radius: 0.9375rem;
    padding: 0px 0.625rem;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 1.25rem;
    border: 1px solid rgb(45, 48, 53);
    background-color: rgba(15, 23, 36, 0.5);
  }
  .coin-pop-inner-top-flex .dropSearch {
    margin-right: 0.625rem;
    width: 1.4em;
    height: 1.4em;
    fill: rgba(153, 164, 176, 0.6);
  }
  .coin-pop-inner-top-flex input {
    order: 1;
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
    min-width: 1rem;
    padding: 0px;
    border: none;
    outline: transparent;
    background-color: transparent;
    color: rgb(245, 246, 247);
  }
  .coin-pop-inner-body {
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    touch-action: pan-y;
    overscroll-behavior: contain;
  }
  .coin-pop-inner-body::-webkit-scrollbar {
    display: none;
  }
  .coin-pop-inner-body-inner {
    padding: 15px;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid transparent;
  }
  .coin-pop-inner-body-inner img {
    width: 30px;
  }
  .coin-pop-inner-body-inner-flex-left {
    display: flex;
    margin-top: 10px;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
  }

  .coin-pop-inner-body-inner-flex-left:hover {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.23);
  }

  .left1 {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    margin-right: 0.9375rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 8px;
    border-radius: 0.9375rem;
  }
  .left2 {
    color: #878787;
    font-weight: 800;
    height: 1.25rem;
    line-height: 1.25rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    cursor: pointer;
  }
  .left3 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    color: #878787;
    font-weight: 800;
    height: 1.375rem;
    line-height: 1.375rem;
  }
  .coin-pop-inner-footer {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-top: 1px solid rgba(51, 57, 64, 0.5);
    padding: 16px 0px;
    flex: 0 0 auto;
  }
  .coin-pop-inner-footer button {
    width: 10.125rem;
    font-size: 14px;
    font-weight: 800;
    height: 3.5rem;
    margin-left: 15px;
    border: transparent;
    color: rgb(245, 246, 247);
    box-shadow: rgba(29, 34, 37, 0.1) 0px 4px 8px 0px;
    background: conic-gradient(
      from -20.86deg at 50% 50%,
      rgba(255, 216, 5, 0.26) -271.89deg,
      #ffd805 11.23deg,
      #ffb936 58.11deg,
      rgba(255, 216, 5, 0.26) 88.11deg,
      #ffd805 371.23deg
    );
    border-radius: 50px;
  }
  .coin-pop-inner-footer2 {
    min-height: 3rem;
    line-height: 0.9375rem;
    padding: 0.5625rem 1rem 0.5625rem 0px;
    text-align: center;
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 767px) {
  .coin-pop {
    width: 100%;
    left: 0px;
    z-index: 201;
    padding-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 16px 0px;
    opacity: 1;
    transform: none;
    position: absolute;
    right: 0px;
    top: 100%;
    height: 38.75rem;
  }
  .coin-pop-inner {
    display: flex;
    flex-direction: column;
    background-color: #222226;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px 0px;
    border-radius: 0px 0px 1.25rem 1.25rem;
  }
  .coin-pop-inner-top {
    padding: 1.15rem 1.1rem;
    margin-top: 0px;
  }
  .coin-pop-inner-top-flex {
    height: 2.75rem;
    border-radius: 0.9375rem;
    padding: 0px 0.625rem;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 1.25rem;
    border: 1px solid rgb(45, 48, 53);
    background-color: rgb(30, 32, 36);
  }
  .coin-pop-inner-top-flex .dropSearch {
    margin-right: 0.625rem;
    width: 1.4em;
    height: 1.4em;
    fill: rgba(153, 164, 176, 0.6);
  }
  .coin-pop-inner-top-flex input {
    order: 1;
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
    min-width: 1rem;
    padding: 0px;
    border: none;
    outline: transparent;
    background-color: transparent;
    color: rgb(245, 246, 247);
  }
  .left3 {
    margin-left: auto;
  }
  .coin-pop-inner-body {
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    touch-action: pan-y;
    overscroll-behavior: contain;
  }
  .coin-pop-inner-body::-webkit-scrollbar {
    display: none;
  }
  .coin-pop-inner-footer {
    background: #1b1b1f;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 5rem;
  }
  .coin-pop-inner-body-inner {
    padding: 15px;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid transparent;
  }
  .coin-pop-inner-body-inner img {
    width: 30px;
  }
  .coin-pop-inner-body-inner-flex-left {
    display: flex;
    margin-top: 10px;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
    color: #fff;
    gap: 20px;
  }

  .coin-pop-inner-body-inner-flex-left:hover {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.23);
  }
  .coin-pop-inner-footer button {
    width: 8.125rem;
    font-size: 14px;
    font-weight: 800;
    height: 2.7rem;
    border: transparent;
    color: rgb(245, 246, 247);
    box-shadow: rgba(29, 34, 37, 0.1) 0px 4px 8px 0px;
    background: conic-gradient(
      from -20.86deg at 50% 50%,
      rgba(255, 216, 5, 0.26) -271.89deg,
      #ffd805 11.23deg,
      #ffb936 58.11deg,
      rgba(255, 216, 5, 0.26) 88.11deg,
      #ffd805 371.23deg
    );
    border-radius: 50px;
  }
  .coin-pop-inner-footer2 {
    line-height: 0.9375rem;
    padding: 0.5625rem 1rem 0.5625rem 0px;
    text-align: center;
    font-size: 0.75rem;
  }

  .pro-pop {
    width: 100%;
    left: 0px;
    z-index: 201;
    padding-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 16px 0px;
    opacity: 1;
    transform: none;
    position: absolute;
    right: 0px;
    top: 100%;
    height: 38.75rem;
  }
  .pro-pop-inner {
    display: flex;
    flex-direction: column;
    background: #1e2024;
    height: 100%;
    border-radius: 1.25rem;
    box-shadow: rgba(56, 56, 56, 0.24) 0px 5px 8px 0px;
    padding: 20px;
  }
  .pro-pop-inner-top-flex-left-img img {
    border-radius: 30px;
    width: 45px;
  }
  .pro-pop-inner-top-flex {
    display: flex;
    justify-content: space-between;
  }
  .pro-pop-inner-top-flex-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .pro-pop-inner-top-flex-left1-inner-medal {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  .pro-pop-inner-top-flex-left1-inner {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .pro-pop-inner-top-flex-right {
    display: flex;
    gap: 5px;
  }
  .pro-pop-inner-top-flex-right img {
    width: 15px;
    height: 17px;
  }

  .pro-pop-inner-top-flex-left1-inner-medal img {
    width: 13px;
  }
  .pro-pop-inner-top-flex-left1-inner-rank {
    background: #626262;
    color: #000;
    padding: 1px 7px;
    border-radius: 30px;
    font-size: 12px;
  }
  .pro-pop-inner-top-flex-left1 h3 {
    font-size: 12px;
    color: #fff;
  }
  .pro-pop-inner-top2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .pro-pop-inner-top2 h3 {
    font-size: 12px;
    color: #fff;
  }

  .pro-pop-inner-top2-right {
    display: flex;
    gap: 10px;
  }

  .progress-vip {
    width: 90%;
    height: 7px;
    border-radius: 5px;
    background: #444a54;
    position: relative;
    margin: 0px 5px;
  }
  .progress-vip-cover {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
  }
  .pro-pop-inner-body {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 10px;
    overflow: hidden;
    overflow-y: auto;
  }
  .pro-pop-inner-body::-webkit-scrollbar {
    display: none;
  }

  .progress-motion-vip {
    position: absolute;
    left: 0px;
    height: 100%;
    border-radius: 5px;
    top: 0px;
    width: 5%;
    max-width: 100%;
    background: #fff;
  }
  .pro-pop-inner-body-inner img {
    width: 13px;
  }
  .pro-pop-inner-body-inner {
    display: flex;
    gap: 50px;
    padding: 10px;
  }
  .pro-pop-inner-body-inner-left,
  .pro-pop-inner-body-inner-right {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 12px;
    margin-top: 6px;
    border-radius: 8px;
  }
  .pro-pop-inner-body-inner-left:hover,
  .pro-pop-inner-body-inner-right:hover {
    background: rgba(0, 0, 0, 0.533);
  }
  .pro-pop-inner-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
  }
  .pro-pop-inner-footer img {
    width: 13px;
  }
  .pro-pop-inner-footer h3,
  .pro-pop-inner-body-inner h3,
  .progress-vip-cover h3,
  .pro-pop-inner-top2 h4,
  .pro-pop-inner-top-flex-right h3 {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
  }
}
