.signUp-display {
  position: fixed;
  z-index: 1000;
  inset: 0px;
  background: #0b0d1c;
}
.signUp-display-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 20px;
  width: 464px;
  height: 580px;
  margin: 5px 0px 0px -280px;
  transition-property: width, height, margin-left, margin-top;
  transition-duration: 0.5s;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(28, 139, 0, 0.97);
  padding: 0px 20px 0px 20px;
}
.signUp-display-page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signUp-display-page-top a {
  color: #ffffff;
  font-size: 16px;
}
.signUp-display-page-text {
  position: relative;
}
.signUp-display-page-text img {
  width : 300px;
  position: absolute;
  right: -10px;
  top: -22px;
}
.signUp-display-page-text h1{
  font-style: normal;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  width: 14.375rem;
  line-height: 30px;
  margin-top: 20px;
}
.signUp-display-page-main {
  position: absolute;
  inset: 12.25rem 0px 0px;
  height: auto;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  background-color: #1A1922;
  box-sizing: border-box;
  overflow-y: auto;
  touch-action: pan-y;
  overscroll-behavior: contain;
  padding: 30px;
}

.signUp-display-page-main::-webkit-scrollbar {
    display: none;
}

.signUp-first-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.signUp-second-flex,
.signUp-third-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.signUp-check {
  margin-top: 20px;
}
.signUp-first-flex label,
.signUp-second-flex label {

  font-weight: 500;
  font-size: 12px;
  color: #605f70;
}

.signUp-first-flex input,
.signUp-second-flex input {
  font-weight: 500;
  font-size: 11px;
  color: #ffffff;
  padding: 6.5;
  background: #030307;
  border-radius: 15px;
  border: none;

}
.signUp-first-flex input::after,
.signUp-second-flex input::after {
  outline: 1px solid green;
}


.signUp-first-flex input::placeholder,
.signUp-second-flex input::placeholder {
  font-weight: 500;
  font-size: 11px;
  color: #605f70;
}

.login-submit {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.login-signUp a {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #353341;
  padding: 6.5px 20px;
  border-radius: 50px;
  text-decoration: none;
}
.login-signUp h3 {
  font-weight: 800;
  font-size: 12px;
  color: #ffffff;
}
.login-signUp h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.login-login button {
  background: #ad8605;
  padding: 10px 80px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.login-socials {
  background: rgba(3, 3, 7, 0.44);
  margin-top: 20px;
  border-radius: 20px;
}
.login-socials-top h1 {
  text-align: center;
  color: #878787;
  font-size: 12px;
}
.login-socials-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.login-socials-icons-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #353341;
  border-radius: 50px;
  padding: 10px 30px;
  gap: 30px;
}
.login-socials-inner {
  padding: 10px;
}
.signUp-submit a {
  text-decoration: none;
}

@media only screen and ( min-width : 550px ) and ( max-width : 1120px ) {
  .signUp-display-page {
    left: 55%;
  }
}

@media only screen and ( max-width : 550px ) {
  .signUp-display-page {
    position: absolute;
    left: 0;
    top: 0px;
    width: 90%;
    height: 100%;
    margin: 0px;
    transition-property: none;
    transition-duration: 0.5s;
    border-radius: 0px;
    background: rgba(28, 139, 0, 0.97);
    padding: 0px 20px 0px 20px;
  }
  .signUp-display-page-text img {
    width : 220px;
    position: absolute;
    right: 15px;
    top: 0px;
  }
  .signUp-display-page-main {
  position: absolute;
  inset: 11.65rem 0px 0px;
  height: auto;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  background-color: rgb(23, 24, 27);
  box-sizing: border-box;
  overflow-y: auto;
  touch-action: pan-y;
  overscroll-behavior: contain;
  padding: 17px;
}
.signUp-display-page-text {
  position: relative;
  width:100%;
}
.signUp-display-page-text h1{
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  width: 10.375rem;
  line-height: 30px;
  margin-top: 10px;
}
.signUp-first-flex input,
.signUp-second-flex input {
  font-weight: 500;
  font-size: 11px;
  color: #ffffff;
  padding: 6.5;
  background: #030307;
  border-radius: 15px;
  border: none;
  outline: none;
  width: 90%;
}
}
