.signUp-display {
  position: fixed;
  z-index: 1000;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}
.signUp-display-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  width: 464px;
  height: 720px;
  margin: -375px 0px 0px -280px;
  transition-property: width, height, margin-left, margin-top;
  transition-duration: 0.5s;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(28, 139, 0, 0.97);
  padding: 0px 20px 0px 20px;
}
.signUp-display-page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signUp-display-page-top h1 {
  color: #ffffff;
  font-size: 24px;
}
.signUp-display-page-text {
  position: relative;
}
.signUp-display-page-text img {
  /* height: 13.75rem; */
  position: absolute;
  right: -10px;
  top: -22px;
}
.signUp-display-page-text h1 {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  width: 14.375rem;
  line-height: 1.2;
  margin-top: 20px;
}
.signUp-display-page-main {
  position: absolute;
  inset: 16.25rem 0px 0px;
  height: auto;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  background-color: #1A1922;
  box-sizing: border-box;
  overflow-y: auto;
  touch-action: pan-y;
  overscroll-behavior: contain;
  padding: 30px;
}
.signUp-first-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.signUp-second-flex,
.signUp-third-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.signUp-check {
  margin-top: 20px;
}
.signUp-first-flex label,
.signUp-second-flex label,
.signUp-third-flex label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #605f70;
}
.signUp-check label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #605f70;
  padding-left: 10px;
}
.signUp-first-flex input,
.signUp-second-flex input,
.signUp-third-flex input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  padding: 15px 15px;
  background: #030307;
  border-radius: 15px;
  border: none;
  outline: none;
}

.signUp-first-flex input::placeholder,
.signUp-second-flex input::placeholder,
.signUp-third-flex input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #605f70;
}
.signUp-claim {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #624de2;
  padding: 10px 20px;
  border-radius: 50px;
  float: right;
  margin-top: -20px;
}
.signUp-claim h1 {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.signUp-submit {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.signUp-login {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #353341;
  padding: 10px 20px;
  border-radius: 50px;
}
.signUp-login h3 {

  font-weight: 800;
  font-size: 12px;
  color: #ffffff;
}
.signUp-login h2 {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.signUp-signUp button {
  background: #ad8605;
  padding: 10px 60px;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.login-socials {
  background: rgba(3, 3, 7, 0.44);
  margin-top: 20px;
  border-radius: 20px;
}
.login-socials-top h1 {
  text-align: center;
  color: #878787;
  font-size: 11px;
}
.login-socials-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.login-socials-icons-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #353341;
  border-radius: 50px;
  padding: 10px 30px;
  gap: 30px;
}
.login-socials-inner {
  padding: 10px;
}
.signUp-submit a {
  text-decoration: none;
}



@media only screen and ( max-width : 550px ) {
 
}