.bcd-display-cover {
  position: fixed;
  z-index: 1000;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  filter: none !important;
}
.bcd-display-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  width: 564px;
  height: 640px;
  margin: -375px 0px 0px -310px;
  transition-property: width, height, margin-left, margin-top;
  transition-duration: 0.5s;
  border-radius: 10px;
  overflow: hidden;
  background: #1f2124;
}

.bcd-display-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #16191b;
  color: #ffffff;
}
.page-background-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: #ffffff;
}

.bcd-main-text h2 {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
.bcd-main-text {
  margin-top: 20px;
}
.green-text {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(50, 252, 0, 0.97);
}
.green-text h3 {
  font-size: 12px;
}

.bcd-display {
  background: linear-gradient(180deg, #441d60 0%, rgba(68, 29, 96, 0) 100%);
  margin-top: 30px;
  height: 400px;
}

.bcd-main-coin {
  color: #8410de;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.bcd-main-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bcd-footer-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.bcd-main-unlock2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bcd-main-unlock h3,
.bcd-footer-flex1 h4,
.bcd-main-unlock2 h3 {
  color: #ffffff;
  font-size: 12px;
}

.bcd-footer-flex1 h4 {
  color: #24a760;
  font-size: 12px;
}

.bcd-main-unlock h4,
.bcd-main-unlock2 h4 {
  color: #8410de;
  font-size: 14px;
}
.bcd-main-unlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.bcd-main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bcd-main-btn button {
  padding: 5px 24px;
  margin-top: 10px;
  background: #816124;
  border: transparent;
  outline: transparent;
  border-radius: 2px;
  font-size: 10px;
  color: #ffffff;
}
.bcd-main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}
.bcd-main-footer a h3 {
  color: rgba(50, 252, 0, 0.97);
  font-size: 12px;
}
.bcd-main-footer h3 {
  color: #ffffff;
  font-size: 12px;
}
